<html>
 <head>
 	<title>Greeter</title>
 	<link rel="stylesheet" type="text/css" href="/stylesheets/application.css" charser="utf-8">
 </head>
 <body>
 	<div id="container">
 		<h1>Hello <%= greet_name %> !</h1>
 		<form method="post" action="/change">
	 		<input name="name" type="text">
	 		<input type="submit" value="Change Name">
 		</form>
 	</div>
 </body>
 </html